asgiref==3.2.10
boto3==1.14.20
botocore==1.17.20
defusedxml==0.6.0
diff-match-patch==20181111
Django==3.0.8
django-bootstrap-modal-forms==2.0.0
django-crispy-forms==1.9.1
django-filter==2.3.0
django-filters==0.2.1
django-import-export==2.2.0
django-storages==1.9.1
django-widget-tweaks==1.4.8
django-xhtml2pdf==0.0.4
docutils==0.15.2
et-xmlfile==1.0.1
gunicorn==20.0.4
html5lib==1.1
jdcal==1.4.1
jmespath==0.10.0
MarkupPy==1.14
mysqlclient==2.0.1
odfpy==1.4.1
openpyxl==3.0.4
Pillow==7.2.0
PyPDF2==1.26.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
reportlab==3.5.44
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
tablib==2.0.0
urllib3==1.25.9
webencodings==0.5.1
xhtml2pdf==0.2.4
xlrd==1.2.0
xlwt==1.3.0
