{% extends 'base.html'%}

{% load crispy_forms_tags %}

<!-- {% block title%}Add Order{% endblock %} -->


{% block content %}
<br>
<div class="row">

    <!-- <div class="col col-md-3 mx-auto form-4"> -->
    <div class="col-md-6">

        <div class="card-header">Add Order</div>

        <div class="card card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {{formset.management_form}}
                {% for form in formset %}
                <!--line  by line lauxa-->
                {{form}}
                <hr>

                {% endfor %}



                <button type="submit" class="btn btn-success">Save</button>
                <!--save huda post method hunxa and create views ko redirect ma janxa-->

            </form>
        </div>
    </div>
</div>


{% endblock %}