{% extends 'base.html' %}

{% block content %}
<br>
<div class="card border-dark col-md-12">
    
    <h3 class="card-header bg-secondary" style="color:white;">Are you sure want to delete <strong>{{orders.product.name}}</strong> details ?</h3>
    
    <div class="card-body">
        <form  method="POST">
           
            <a href="{% url 'order_app:list'%}" class="btn btn-outline-danger">Cancel</a>
        
            {% csrf_token %}
        
            <button type="submit" class="btn btn-success" 
            onclick="document.getElementById('id01').style.display='block'">
            Confirm</button>
          
        </form>
    </div>
</div>

<style>
    body{
		background: #a1c4fd;
	
	  }
</style>

{% endblock %}