   
    <form method="GET" action="{% url 'order_app:search' %}" id="js-order-search-form" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" >
               
                        
            <div class="input-group">
                <input  class="form-control" name="query" type="search" placeholder="Search by status..." aria-label="Search"
                    aria-describedby="basic-addon2"/>
                <div class="input-group-append">
                   
                    <button class="btn btn-primary" type="button">
                       Search
                    </button>
                </div>
            </div>
</form>
       