{% for order in orders %}
            
<tr style="text-align: center;">   
    <td>{{order.id}}</td>
    <td>{{order.customer.id}}</td>
   
   
 
    <td>{{order.product.name}}</th>
        <!-- <td>{{order.product.category}}</td> -->
        <td>{{order.quantity}}</td>

    <td>{{order.created_at}}</td>
    <td>{{order.status}}</td>
   
    <td><a href="{% url 'order_app:edit' order.customer.id order.id%}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
        <a href="{% url 'order_app:delete' order.id%}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
    </td>
</tr>

{% empty %}
<tr>
   <td  colspan="7" class="text-center alert alert-danger">No Orders Found</td>
</tr>

{% endfor %}