{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Customers{% endblock %}

{% block javascript %}
<script src="{% static 'vendor/js/scripts.js' %}"></script>
<script src="{% static 'products/search.js' %}"></script>
<script src="{% static 'customers/scroll.js' %}"></script>
{% endblock %}

{% block content %}
<!--Nav bar and side bar which include search and others-->

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        {% if request.user.is_superuser %}
        <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i> Home
        </a>

        {% else %}

        <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i> Home
        </a>


        {% endif %}
            ><button class="btn btn-link btn-sm order-1 order-lg-0"
            id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i></button><!-- Navbar Search-->


      


     
            <div  data-toggle="modal" data-target="#logOutModal" style="margin-left:70%;">
             
                <a class="btn btn-sm btn-warning float-right" style="cursor: pointer;color:black;"><i class="fa fa-sign-out-alt"></i> LOGOUT</a>
            </div>
    </nav>
    <!--logout model js popup for confirm or stay-->
    <div id="logOutModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Want to leave ?</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Press logout to leave !
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">
                        <!--model-dismiss la same page ma lauxa-->
                        Stay Here
                    </button>
                    <a class="btn btn-danger" href="{% url 'register_app:logout'%}">
                        Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                  {% if request.user.is_superuser %}
                        <a class="nav-link" href="/dashboard">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-home"></i>
                            </div>
                            Dashboard
                        </a>
                {% endif %}

                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'product_app:list'%}">Products</a>
                                <a class="nav-link" href="{% url 'order_app:list'%}">Orders</a>
                                <a class="nav-link" href="{% url 'customer_app:list'%}">Customers</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav">
                          

                                <a class="nav-link" href="{% url 'register_app:logout'%}">Logout</a>

                              
                            </nav>



                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div>
                            Charts
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>




    </div>
    </div>


</body>

<br><br>
<hr>
<!--for messages tag-->
<div style="margin-left:15%;margin-right:1%;">
    {% if messages %}
    <ul class="messages">


        {% for message in messages %}
        <li {% if message.tags %} class=" alert-success {{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </li>
        {% endfor %}

    </ul>
    {% endif %}
</div>


    

    <!--For form pop up -->
    <form method="POST" action=""><!--data-url work same as edirect in views-->
        {% csrf_token %}

        <div id="customerModel" class="modal fade">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Customer</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">


                        {{form|crispy}}

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">
                            <!-- model-dismiss la same page ma lauxa -->
                            Cancel
                        </button>
                        <button class="btn btn-success">
                            <!-- model-dismiss la same page ma lauxa -->
                            Save
                        </button>
                      

                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

</div>



<!-- <div class="row">

 <div class="form-group col-md-1" style="margin-left:18%;"></div>
            <select class="form-control post_max" name="page">
                <option> Show</option>
                <option value="10"{% if page == 10 %}selected{% endif %}>10</option>
                <option value="25">25</option>
                <option value="50">50</option>


                <option value="100">100</option>
            </select> 

        </div>
      
    
        <div class="col mt-2">
            Entries
        </div>
    
     

         

</div> -->



<div class="col">
    <div class="card border-dark" style="margin-left:18%;padding-right:15%;padding:10px;margin-bottom:10px;">
        <h3 class="card-header"> Customers Details</h3>

    </div>
</div>
<hr>

<div class="row " style="margin-left:18%;">

   
      
  

    <div class="col">

        {% include "customers/formsearch.html" %}
       
        <button data-toggle="modal" data-target="#customerModel" class=" btn btn-primary ">

        <i class=" fas fa-plus "></i> Add Customer
        <!-- I dont need to use url because Add Customer garda data-target la id search gardai janxa id ma -->
        </button>
        
        <a class="btn btn-primary" href="{% url 'customer_app:export'%}"><i class="fas fa-file-export"></i> Export</a>
     <!-- <a href="{% url 'customer_app:pdf' %}" class="btn  btn-danger ml-3" style="margin-right:5%;" > PDF</a> -->

   

           <button  style="margin-left:40%;" onclick = " scrollToBottom()" class="btn btn-primary"> <i class="fas fa-arrow-alt-circle-down fa-1x "></i>
           </button>
           

    </div>
    
     

    
<script>
  
       
</script>
 


</div>
<hr>



<div class="container">
    <div class="col-md-11" >

        <table class="table table-sm table-hover table-responsive-sm  table-striped table-bordered display" style="margin-left:11%;"  id="table_id" border='2' align="center"  style="width:100%">
            <thead class="thead-dark">
                <tr style="text-align: center;">

                    <th>View</th>
                    <th>S.N</th>
                    <th>Name</th>

                    <th>Email</th>
                    <th>Conact No</th>
                    <th>Created At </th>

                    <th>Action</th>



                </tr>
            </thead>
            <tbody id="get_table_body">

                {% for customer in customers %}
                <tr>

                    <td><a href="{% url 'customer_app:view' customer.id %}" class="btn btn-primary btn-sm"><i
                                class="fa fa-eye"></i></a></td>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}} </td>
                    <td>{{customer.email}}</th>
                    <td>{{customer.contact}}</td>
                    <td>{{customer.created_at}}</td>

                    <td>
                        <a href="{% url 'customer_app:edit' customer.id %}" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'customer_app:delete' customer.id %}" class="btn btn-danger btn-sm ">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                        <a href="{% url 'order_app:create' customer.id %}" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i>
                        </a>

                    </td>



                </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="row">

            <div class="col">

                <div class="mt-2" style="margin-left:20%">
                  <Strong>  Showing {{start}} to {{end}} of {{customer_count}} customers</Strong>
                </div>

            </div>

            <div class="col">


                <div style="margin-left:18%;" class="float-right">

                    {% if customers.has_other_pages %}
                    <ul class="pagination">
                        {% if customers.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4"
                            href="?page={{ customers.previous_page_number }}">Previous</a>
                        {% else %}

                        {% endif %}

                        {% for i in customers.paginator.page_range %}
                        {% if customers.number == i %}
                        <!--recent page ma dark dekhauxa-->
                        <li class="btn btn-info mb-4"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}

                        <li><a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if customers.has_next %}

                        <a class="btn btn-outline-info mb-4" href="?page={{ customers.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ customers.paginator.num_pages }}">Last</a>
                        {% else %}
                        <!-- <li class="btn btn-outline-info mb-4"><span>&raquo;</span></li> -->
                        {% endif %}
                        <hr>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>


<button  id="back-to-top" style="float:right;margin-right:1%;" class="btn btn-primary"> <i class="fas fa-arrow-alt-circle-up fa-1x"></i>
</button>


{% endblock%}


