{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Customers{% endblock %}


{% block content %}
<!--Nav bar and side bar which include search and others-->

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Grocery</a><button class="btn btn-link btn-sm order-1 order-lg-0"
            id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i></button><!-- Navbar Search-->


        <!--form search in input form I place {{myFilter.form.first_name}}-->

        <form method="GET" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search by name..." aria-label="Search"
                    {{myFilter.form.name}} />
                <div class="input-group-append">

                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>



        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div data-toggle="modal" data-target="#logOutModal" class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="cursor: pointer;">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <!--logout model js popup for confirm or stay-->
    <div id="logOutModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Want to leave ?</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Press logout to leave !
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">
                        <!--model-dismiss la same page ma lauxa-->
                        Stay Here
                    </button>
                    <a class="btn btn-danger" href="{% url 'register_app:login'%}">
                        Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Functions</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'product_app:list'%}">Products</a>
                                <a class="nav-link" href="{% url 'order_app:list'%}">Orders</a>
                                <a class="nav-link" href="{% url 'customer_app:list'%}">Customers</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'register_app:login'%}">Login</a>
                                <a class="nav-link" href="{% url 'register_app:register'%}">Register</a><a
                                    class="nav-link" href="/reset_password">Forgot Password</a>
                            </nav>



                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div>
                            Charts
                        </a><a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>




    </div>
    </div>


</body>

<br><br>
<hr>
<div class="row">

    <div class="col">
        <div class="card border-dark" style="margin-left:36%;padding-right:15%;padding:10px;margin-bottom:10px;">
            <h3 class="card-header"> Customers Details</h3>

        </div>
    </div>
    <div class="col">
        <br>

        <button data-toggle="modal" data-target="#customerModel" class=" btn btn-danger " style="margin-left:75%;">
            <span>
                <i class="fas fa-plus"></i>Add Customer
                <!--I dont need to use url because Add Customer garda data-target la id search gardai janxa id ma -->
            </span>
        </button>


    </div>

    <!--For form pop up -->
    <form method="POST" action="">
        {% csrf_token %}

        <div id="customerModel" class="modal fade">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Customer</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">


                        {{form|crispy}}

                    </div>

                    <div class="modal-footer">
                        <button  class="btn btn-success">
                            <!-- model-dismiss la same page ma lauxa -->
                            Save
                        </button>
                        <button class="btn btn-danger" data-dismiss="modal">
                            <!-- model-dismiss la same page ma lauxa -->
                            Cancel
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

</div>



<div class="container">
    <div class="col-md-11">

        <table class="table table-hover table-striped table-bordered" style="margin-left:10%;">
            <thead class="thead-dark">
                <tr>

                    <th>View</th>
                    <th>S.N</th>
                    <th>Name</th>

                    <th>Email</th>
                    <th>Conact No</th>
                    <th>Created At </th>

                    <th>Action</th>



                </tr>
            </thead>
            <tbody>

                {% for customer in customers%}
                <tr>

                    <td><a href="{% url 'customer_app:view' customer.id %}" class="btn btn-primary btn-sm"><i
                                class="fa fa-eye"></i></a></td>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}} </td>
                    <td>{{customer.email}}</th>
                    <td>{{customer.contact}}</td>
                    <td>{{customer.created_at}}</td>

                    <td>
                        <a href="{% url 'customer_app:edit' customer.id%}" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'customer_app:delete' customer.id%}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                        <a href="{% url 'order_app:create' customer.id %}" class="btn btn-success btn-sm">
                            <i class="fas fa-plus"></i>
                        </a>

                    </td>



                </tr>

                {% endfor %}
            </tbody>
        </table>
        <!--pagination at footer-->
        <nav aria-label="" style="margin-left:90%;">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>


</div>




{% endblock%}