{% for customer in customers %}
<tr>

    <td><a href="{% url 'customer_app:view' customer.id %}" class="btn btn-primary btn-sm"><i
                class="fa fa-eye"></i></a></td>
    <td>{{customer.id}}</td>
    <td>{{customer.name}} </td>
    <td>{{customer.email}}</th>
    <td>{{customer.contact}}</td>
    <td>{{customer.date_created}}</td>

    <td>
        <a href="{% url 'customer_app:edit' customer.id %}" class="btn btn-success btn-sm">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'customer_app:delete' customer.id %}" class="btn btn-danger btn-sm ">
            <i class="fa fa-trash-alt"></i>
        </a>
        <a href="{% url 'order_app:create' customer.id %}" class="btn btn-success btn-sm">
            <i class="fas fa-plus"></i>
        </a>

    </td>



</tr>


    

{% endfor %}