{% extends 'base.html' %}

{% block content %}

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Supermarket</a><button class="btn btn-link btn-sm order-1 order-lg-0"
            id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i></button><!-- Navbar Search-->

        <!-- Navbar-->
        <ul class="navbar-nav ml-auto mr-3 ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'register_app:login'%}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Functions</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'product_app:list'%}">Products</a>
                                <a class="nav-link" href="{% url 'order_app:list'%}">Orders</a>
                                <a class="nav-link" href="{% url 'customer_app:list'%}">Customers</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'register_app:login'%}">Login</a>
                                <a class="nav-link" href="{% url 'register_app:register'%}">Register</a><a
                                    class="nav-link" href="/reset_password">Forgot Password</a>
                            </nav>



                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div>
                            Charts
                        </a><a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>




    </div>
    </div>


</body>


<br><br><br>


<div class="card border-dark" style="margin-left:18%;margin-right:17%;padding:10px;margin-bottom:10px;">
    <h3 class="card-header" style="text-align: center;"> Order Details of <strong>{{customer.name}}</strong></h3>

</div>

<div class="container">
    <div class="col-md-10" style="margin-right:5%;margin-left:9%;">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>


                    <th>Product</th>

                    <th>Category</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Quantity</th>
                    <th>Per Price</th>
                    <th>Action</th>

                </tr>


            </thead>
            <tbody>

                {% for order in orders %}

                <tr>

                    <td>{{order.product.name}}</th>
                    <td>{{order.product.category}}</td>

                    <!--
        <td>{{order.product}}</th> also give same result for name
   maila order table ma Product table ko access garda use product object
   like above
   product=models.ForeignKey(Product,null=True,on_delete=models.SET_NULL)
   -->

                    <td>{{order.created_at}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <a href="{% url 'customer_app:remove_single_item_from_cart' order.product.slug  %}"> <i class="fa fa-minus mr-2"></i></a>
                        {{order.quantity}}
                         <a><i class="fa fa-plus ml-2"></i></a>
                </td>
                    <td>{{order.product.price}}</td>


                    <!-- <td>{{customer.per_total}}</td> -->


                    <td><a href="{% url 'order_app:edit' order.id%}" class="btn btn-success btn-sm"><i
                                class="fa fa-edit"></i></a>
                        <a href="{% url 'order_app:delete' order.id%}" class="btn btn-danger btn-sm"><i
                                class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>

                {% endfor %}


            </tbody>



        </table>
        <div class="card" style="margin-right:70%;" >
            <div class="card-body" >
               <strong class="btn btn-success">Total</strong> = <strong style="font-size:20px;">{{customer.total}}</strong>
            </div>
        </div>
       
    </div>
    
</div>


{% endblock%}