{% extends 'base.html' %}

{% block title %}Customer-Order{% endblock %}

{% block javascript %}
{% endblock %}
{% block content %}


<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        {% if request.user.is_superuser %}
        <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i> Home
        </a>

        {% else %}

        <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i> Home
        </a>


        {% endif %}
        <button type="button" id="sidebarToggle" class="btn btn-warning text-black-50">
            <i class="fas fa-align-left"></i>
        </button><!-- Navbar Search-->

        <div class="col">

            <a class="float-right" style="color:white;"> Hello, {{request.user.username}} </a>

        </div>

        <div class="col">
            <div data-toggle="modal" data-target="#logOutModal" style="margin-left:70%;">

                <a class="btn btn-sm btn-warning float-right" style="cursor: pointer;color:black;"><i
                        class="fa fa-sign-out-alt"></i> LOGOUT</a>
            </div>
        </div>


    </nav>

    <!--logout model js popup for confirm or stay-->
    <div id="logOutModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Want to leave ?</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Press logout to leave !
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal">
                        <!--model-dismiss la same page ma lauxa-->
                        Stay Here
                    </button>
                    <a class="btn btn-danger" href="{% url 'register_app:logout'%}">
                        Logout</a>
                </div>
            </div>
        </div>
    </div>


    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Functions</div>
                        <a class="nav-link" href="/dashboard">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="(collapse)" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                               <a class="nav-link" href="{% url 'product_app:list'%}"><i class="fas fa-bars"></i><span class="ml-1">Products</span></a>
                                <a class="nav-link" href="{% url 'order_app:list'%}"><i class="fas fa-bars"></i><span class="ml-1">Orders</span></a>
                                <a class="nav-link" href="{% url 'customer_app:list'%}"><i class="fas fa-bars"></i><span class="ml-1">Customers</span></a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="(collapse)" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">

                            <nav class="sb-sidenav-menu-nested nav">
                                {% if user.is_authenticated %}

                                <a class="nav-link" href="{% url 'register_app:logout'%}"><i class="fas fa-sign-out-alt"></i>  <span class="ml-1">Logout</span></a>

                                {% else %}
                                <a class="nav-link" href="{% url 'register_app:login'%}">Login</a>
                                <a class="nav-link" href="{% url 'register_app:register'%}">Register</a>
                                {% endif %}
                            </nav>


                        </div>
                        
                </div>

            </nav>
        </div>




    </div>
    </div>


</body>
<br><br><br>

{% include 'message.html' %}
<div class="container">
   <div class="row">
       <div class="col-md ml-4">
        <div style="margin-left:80px;">
            <div class="card bg-primary text-center text-white ml-2 mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{order_count}}</h5>
                </div>
            </div>
        </div>
       </div>
       <div class="col-md">
        <div style="margin-left:80px;">
            <div class="card bg-info text-center text-white ml-2 mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Price</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{customer_total_price}}</h5>
                </div>
            </div>
        </div>
       </div>
   </div>
<hr>

   <div class="row">
    <div class="col">


        <div class="card border-dark" style="margin-left:26%; ">
            <h3 class="card-header" style="text-align: center;"> Order Details of <strong>{{customers.name}}</strong>
            </h3>
        </div>
    </div>

    <div class="col-md-2" style="margin-right:20%;">
        <a href=" {% url 'customer_app:bill' customers.id  %}" class="btn  btn-primary mt-2 float-right">Print
            Invoice</a>
    </div>
</div>
   

<hr>
            <div class="col-md-10" style="margin-left:15%;">
                <table class="table table-responsive-sm table-sm table-hover text-nowrap table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr style="text-align: center;">


                            <th>Product</th>

                            <th>Category</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Quantity</th>
                            <th>Per Price</th>
                            <th> Subtotal</th>
                            <th>Action</th>

                        </tr>


                    </thead>
                    <tbody>

                        {% for order in orders %}

                        <tr>

                            <td>{{order.product.name}}</th>
                            <td>{{order.product.category}}</td>

                            <!--
        <td>{{order.product}}</th> also give same result for name
   maila order table ma Product table ko access garda use product object
   like above
   product=models.ForeignKey(Product,null=True,on_delete=models.SET_NULL)
   -->

                            <td>{{order.created_at}}</td>
                            <td>{{order.status}}</td>
                            <td>
                               
                                {{order.quantity}} {{order.product.unit}}
                             
                            </td>
                            <td>{{order.product.price}}</td>
                            <td>{{order.get_total_item_price}}</td>
                            <!--to get price for each row product call get_total_item_price in models.py of orders-->

                            <!-- <td>{{customer.per_total}}</td> -->

                            <td><a href="{% url 'order_app:edit' order.customer.id order.id %}"
                                    class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'order_app:delete' order.id%}" class="btn btn-danger btn-sm"><i
                                        class="fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" style="text-align: center;">
                                <strong> {{customer.name }} </strong> Order is empty.Please Place the Order!
                            </td>
                        </tr>

                        {% endfor %}


                    </tbody>
                </table>
                
               

            
       

    </div>
</div>


{% endblock%}