{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>



<div class="row">
    <div class="col-md-6">
        <canvas id="customerChart" width="400" height="300" ></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="myChart" width="400" height="200" ></canvas>
       
    </div>
</div>
<script>


var state ={	
    'x_items':[],
    'y_values':[],
}

var dataURL = "{% url 'customer_app:customer-chart' %}"

$.ajax({
    method:'GET',
    url:dataURL,
   
    success:function(response){
        console.log('RESPONSE:', response)
        for (var i in response){

            var key = Object.keys(response[i])[0]
            var value = Object.values(response[i])[0]

            state.x_items.push(key)
            state.y_values.push(value)
        }

        console.log('STATE:', state)
        buildChart()

    }
})

function buildChart(){
    var ctx = document.getElementById('customerChart').getContext('2d');

        var customerChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: state.x_items,
          
                datasets: [{
                    label: '# of Customers',
                   // data: [5,10,15,20,25,30,35,40],
                   data: state.y_values,

                   backgroundColor: [
                   'rgba(128, 125, 255, 0.7)',
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)',
                  
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                 
               ],
               borderWidth: 1,
                 
                   
                }]
            },
           
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }





</script>

{% endblock %}