{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock%}



{% block content %}

<a href="/" class="btn btn-lg btn-primary mt-2"> <i class="fas fa-home"></i> Home</a>


<div style="margin-left:20%;margin-right:2%;">


  {% include 'message.html' %}



</div>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">


              <div class="card-header">
                <h2 class="text-center font-weight-light my-4">Login</h2>
              </div>

              <div class="card-body">

                <form method="POST" class="justify-content-center">
                  {% csrf_token %}

                  {{form|crispy}}



                  <input type="submit" name="submit" value="Login" class="btn btn-block btn-success">
                  <div class="row">
                    <div class="col">
                      <div class="mt-4"><a class="small" href="/reset_password/">Forgot Password?</a></div>


                    </div>
                    <div class="col mt-4">
                      <div class="small"><a href="{% url 'register_app:register'%}"> Create New Account!</a></div>
                    </div>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>

<style>
  body {
    background: lightgrey;
  }
</style>


{% endblock %}