

{% extends 'base.html' %}
{% load crispy_forms_tags %}





{% block content %}

<div class="col-xl-5 col-lg-4 col-md-8 col-sm-10 mx-auto  form p-4" >

    <h1>Register</h1>
    <hr>


<form method="POST">
    {% csrf_token %}

    <!-- {{form|crispy}} -->

    {{form.username.label}}
    {{form.username}}<br>
    {{form.email.label}}
    {{form.email}}<br>
    
    {{form.password1.label}}
    {{form.password1}}<br>
    {{form.password2.label}}
    {{form.password2}}<br> 

    <input type="submit" name="submit" value="Register" class="btn btn-success">
</form>
</div>
{% endblock %}









