
{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% block head %}

<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
    <!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>  -->
 
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    

      <!--link for index.html dashboard -->
      <link href="{% static 'vendor/css/styles.css' %}" rel="stylesheet" />
      

      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
          crossorigin="anonymous"></script>


 
  

    <title> {% block title %}  {% endblock %}</title>
    

</head>
    {% endblock %}


<body>

  <div class="container">
    {% block content %}{% endblock %}
</div>

  
   

    {% block javascript %}
    {% endblock %}

    {% block css %}
    {% endblock %}

</body>
</html>


