{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Products {% endblock %}

{% block content %}

<div class="container">

<form method="POST" action="" class=" col-md-4 mx-auto  form p-4">

    <!-- col-xl-5 col-lg-4 col-md-10 col-sm-10  -->
    <hr>
            <h1>Add Products</h1>
            <hr>
            {{form|crispy}}
        
            {% csrf_token %}
           

 <button type="submit" class="btn btn-danger">Save</button><!--save huda post method hunxa and create views ko redirect ma janxa-->

</form>
</div>




{% endblock %}