{% extends 'base.html' %}

{% block content %}

<br>

<div class="card border-dark col-md-8 " style="margin-left:12%;">
    
    <h3 class="card-header bg-secondary " style="color:white;">Are you sure want to delete <strong style="font-size:35px; ">{{name}}</strong> details ? </h3>
    
    <div class="card-body">
        <form  method="POST">
            <!--action is optional blc admin_views.py ma POST bata check garxa-->
            <!-- action="/customers/delete/{{name.id}}/" -->
            <a href="{% url 'product_app:list'%}" class="btn btn-success">Cancel</a>
        
            {% csrf_token %}
        
            <button type="submit" class="btn btn-outline-danger" 
            onclick="document.getElementById('id01').style.display='block'">
            Confirm</button>
            <!--when i confirm it goes to  return redirect('customer_app:list') used in delete() of views.py .I can also redirect it via action-->
            <!--when i submit then it goes to action -->
        
        </form>
    </div>
</div>

<style>
    body{
        background-color: lightgray;
    }
</style>

{% endblock %}