{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<form method="post" action="{% url 'product_app:delete_product' pro.id %}" class="js-product-delete-form"><!--pro is respective data-->
    {% csrf_token %}

    <div class="modal-header">
     
      <h4 class="modal-title">Confirm book deletion</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="width: 200%;">
      <p class="lead">Are you sure you want to delete the product <b>{{pro.name }}</b>?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger">Delete book</button>
    </div>

  </form>



{% endblock %}