<form method="GET" action="{% url 'product_app:search' %}" id="js-search-form" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0  ">


    <div class="input-group">
        
            <input class="form-control" type="search" name="query" placeholder="Search by name..." aria-label="Search"
            aria-describedby="basic-addon2" />
           

        <div class="input-group-append">

            <button class="btn btn-primary" type="button">
              Search
            </button>
        </div>
    </div>
    
</form>

