<form method="GET" action="{% url 'product_app:list' %}" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 search-form ">


    <div class="input-group">
        
            <input class="form-control" type="text" name="name" placeholder="Search by name..." aria-label="Search"
            aria-describedby="basic-addon2"  {{ myFilter.form.name}} />
           

        <div class="input-group-append">

            <button class="btn btn-primary" type="submit">
              Search
            </button>
        </div>
    </div>
    
</form>

