  
                        {% for product in products%}

                        <tr>

                            <!-- <td>{{order.product.name}}</td> -->
                      
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</th>

                            <td>{{product.description}}</td>
                            <td>{{product.quantity}} {{product.unit}}</td>
                            <td>{{product.created_at}}</td>


                            <td>
                                <button type="button" data-pid = "{{product.id}}" data-target="#AddProduct" data-toggle="modal"
                                    class="btn btn-success btn-sm btn-edit ">
                                    <i class="fas fa-edit"></i>

                                    {% if request.user.is_superuser %}
                                    <button type="button" data-pid = "{{product.id}}"
                                        class="ml-1 btn btn-danger btn-sm btn-del"><i
                                            class="fas fa-trash-alt"></i></button>
                                        {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="7" class=" text-center alert alert-danger">No Products Found</td>
                        </tr>       

                        {% endfor %}

                    
