{% extends 'base.html' %}


{% block title %}Products{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

{% include 'registers/navbar.html'%}


<br>

<br>
<hr>
<div class="page-header" style="margin-left:50%;">
    
    
    <h3>Products Details</h3>
    

</div>

<!-- <div class="col">
    <div class="col-md" class="margin-left:30%;">
       
    </div>
</div> -->
<div style="margin-left:40%;">

<!-- <form method="GET" class="col-md-6">


    {{myFilter.form|crispy}}

    <button class="btn btn-success"> Search</button>
    
</form> -->

</div>
</div>
<hr>
<div class="mr-4">
<a href="{% url 'product_app:create' %}" class=" btn btn-danger float-right " >
    <i class="fas fa-plus"></i>
</a>

</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md-9">
                <table class="table table-hover table-striped  " style="margin-left:25%;">
                    <thead class="thead-light">
                        <tr>
                            <!-- <th>Id</th> -->
                            <th>Id</th>
                            <th>Name</th>

                            <th>Price</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products%}

                        <tr>

                            <!-- <td>{{order.product.name}}</td> -->
                            <!-- <td>{{product.id}}</td> -->
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</th>
                            <td>{{product.category}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.created_at}}</td>


                            <td><a href="{% url 'product_app:edit' product.id %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                <!--product.id   --+product is context-->
                                <a href="{% url 'product_app:delete' product.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

     
    </div>
</div>


{% endblock %}