{% extends 'base.html' %}


{% block title %}Products{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<!--Nav bar and side bar which include search and others-->

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Grocery</a><button class="btn btn-link btn-sm order-1 order-lg-0"
            id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i></button><!-- Navbar Search-->

            
            <!--form search-->
         
        <form method="GET" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-4 my-2 my-md-0" >
                <div class="input-group">
                <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                    aria-describedby="basic-addon2" /> -->
                
                    {{myFilter.form.name}}
                
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                        Search
                        <!-- <i class="fas fa-search"></i> -->
                    </button>
                </div>
            </div> 
        </form>
    
       
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'register_app:login'%}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Functions</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-columns"></i>
                            </div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{% url 'product_app:list'%}">Products</a>
                                <a class="nav-link" href="{% url 'order_app:list'%}">Orders</a>
                                <a class="nav-link" href="{% url 'customer_app:list'%}">Customers</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Authentication
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-parent="#sidenavAccordion">
                            
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{% url 'register_app:login'%}">Login</a>
                                        <a class="nav-link" href="{% url 'register_app:register'%}">Register</a><a
                                            class="nav-link" href="/reset_password">Forgot Password</a>
                                    </nav>
                            

                          
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-area"></i>
                            </div>
                            Charts
                        </a><a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-table"></i>
                            </div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>
    
       
            
         
        </div>
    </div>
  

</body>



<br>

<br>
<hr>
<div class="page-header" style="margin-left:50%;">
    
    
    <h3>Products Details</h3>
    

</div>

<!-- <div class="col">
    <div class="col-md" class="margin-left:30%;">
       
    </div>
</div> -->
<div style="margin-left:40%;">

<!-- <form method="GET" class="col-md-6">


    {{myFilter.form|crispy}}

    <button class="btn btn-success"> Search</button>
    
</form> -->

</div>
</div>
<hr>
<a href="{% url 'product_app:create' %}" class=" btn btn-danger " style="margin-left:81%;" >
    <i class="fas fa-plus"></i>
</a>

</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md-9">
                <table class="table table-hover table-striped  " style="margin-left:25%;">
                    <thead class="thead-light">
                        <tr>
                            <!-- <th>Id</th> -->
                            <th>Id</th>
                            <th>Name</th>

                            <th>Price</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products%}

                        <tr>

                            <!-- <td>{{order.product.name}}</td> -->
                            <!-- <td>{{product.id}}</td> -->
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</th>
                            <td>{{product.category}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.created_at}}</td>


                            <td><a href="{% url 'product_app:edit' product.id %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                <!--product.id   --+product is context-->
                                <a href="{% url 'product_app:delete' product.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

     
    </div>
</div>


{% endblock %}